.markdown-body {
  font-family: $english-font-family, $chinese-font-family, sans-serif;
  font-size: $default-article-font-size;
}
.markdown-body blockquote:not(.not-markdown) {
  box-sizing: border-box;
  margin: 20px 0;
  color: var(--default-text-color);
  background: var(--third-background-color);
  padding: 0 1rem 0 0.5rem;
  border-radius: 0 $redefine-border-radius-medium $redefine-border-radius-medium 0;
  position: relative;
  border-left: 5px solid var(--default-text-color);
}
.markdown-body blockquote:not(.not-markdown) p,
.markdown-body blockquote:not(.not-markdown) ul,
.markdown-body blockquote:not(.not-markdown) ol {
  padding: 5px 5px 5px 10px;
}
.markdown-body p:not(.not-markdown) {
  line-height: $default-line-height;
  color: var(--default-text-color);
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
}
.markdown-body a:not(.not-markdown) {
  position: relative;
  outline: 0;
  text-decoration: underline;
  overflow-wrap: break-word;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 2px;
  text-underline-offset: 2px;
  text-decoration-color: var(--fourth-text-color);
  transition: text-decoration-color 0.2s ease;
}
.markdown-body a:not(.not-markdown).link {
  padding-right: 0.1em;
}
.markdown-body a:not(.not-markdown) .fas,
.markdown-body a:not(.not-markdown) .far,
.markdown-body a:not(.not-markdown) fab {
  margin: 0 2px 0 6px;
  position: relative;
  color: var(--third-text-color);
  font-size: 0.88rem;
}
.markdown-body a:not(.not-markdown) .link-icon {
  transition: transform 0.2s ease;
}
.markdown-body a:not(.not-markdown):hover,
.markdown-body a:not(.not-markdown):focus {
  text-decoration: underline !important;
  text-decoration-color: var(--primary-color) !important;
}
.markdown-body a:not(.not-markdown):hover .link-icon,
.markdown-body a:not(.not-markdown):focus .link-icon {
  transform: translate(0.1em, -0.1em);
}
.markdown-body a:not(.not-markdown):hover::after,
.markdown-body a:not(.not-markdown):focus::after {
  background: var(--primary-color);
  text-decoration: underline;
}
.markdown-body strong:not(.not-markdown) {
  color: var(--default-text-color);
}
.markdown-body hr:not(.not-markdown) {
  margin: 2rem 0;
  border: 0;
  border-top: 2px solid var(--shadow-color-1);
}
.markdown-body em:not(.not-markdown) {
  color: var(--default-text-color);
}
.markdown-body ul:not(.not-markdown) > li,
.markdown-body ol:not(.not-markdown) > li {
  margin-left: 20px;
  line-height: 2rem;
}
.markdown-body ul:not(.not-markdown) {
  margin-bottom: 1.2rem;
}
.markdown-body ul:not(.not-markdown) li {
  list-style: disc;
}
.markdown-body ul:not(.not-markdown) li ul li {
  list-style: circle;
}
.markdown-body ul:not(.not-markdown) li ul li ul li {
  list-style: square;
}
.markdown-body ol:not(.not-markdown) {
  margin-bottom: 1.2rem;
}
.markdown-body ol:not(.not-markdown) li {
  list-style: decimal;
}
.markdown-body ol:not(.not-markdown) li ul li {
  list-style: disc;
}
.markdown-body ol:not(.not-markdown) li ul ul li {
  list-style: circle;
}
.markdown-body ol:not(.not-markdown) li ol li {
  list-style: upper-alpha;
}
.markdown-body ol:not(.not-markdown) li ol li ol li {
  list-style: upper-roman;
}
.markdown-body li:not(.not-markdown) {
  color: var(--default-text-color);
}
.markdown-body h1:not(.not-markdown),
.markdown-body h2:not(.not-markdown),
.markdown-body h3:not(.not-markdown),
.markdown-body h4:not(.not-markdown),
.markdown-body h5:not(.not-markdown),
.markdown-body h6:not(.not-markdown),
.markdown-body .h1:not(.not-markdown),
.markdown-body .h2:not(.not-markdown),
.markdown-body .h3:not(.not-markdown),
.markdown-body .h4:not(.not-markdown),
.markdown-body .h5:not(.not-markdown),
.markdown-body .h6:not(.not-markdown) {
  font-family: $english-font-family, $chinese-font-family, sans-serif;
  color: var(--second-text-color);
  line-height: $default-line-height;
redefine-tablet()
}
.markdown-body h1:not(.not-markdown),
.markdown-body .h1:not(.not-markdown) {
  font-size: 3.2rem;
  font-weight: 650;
  border-bottom: solid 2px var(--fourth-text-color);
  margin-top: $h1-heading-margin-top;
  margin-bottom: 1rem;
  letter-spacing: -0.025em;
  line-height: 1.2;
redefine-tablet()
}
.markdown-body h2:not(.not-markdown),
.markdown-body .h2:not(.not-markdown) {
  font-size: 2.5rem;
  font-weight: 650;
  padding: 3px 0;
  border-bottom: solid 2px var(--fourth-text-color);
  margin-top: $h2-heading-margin-top;
  margin-bottom: 1rem;
  letter-spacing: -0.025em;
  line-height: 1.1;
redefine-tablet()
}
.markdown-body h3:not(.not-markdown),
.markdown-body .h3:not(.not-markdown) {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: $h3-heading-margin-top;
  margin-bottom: 0.75rem;
  letter-spacing: -0.025em;
  line-height: 1.3;
redefine-tablet()
}
.markdown-body h4:not(.not-markdown),
.markdown-body .h4:not(.not-markdown) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: $h4-heading-margin-top;
  margin-bottom: 0.75rem;
  line-height: 1.4;
redefine-tablet()
}
.markdown-body h5:not(.not-markdown),
.markdown-body .h5:not(.not-markdown) {
  font-size: 1.28rem;
  font-weight: 600;
  margin-top: $h5-heading-margin-top;
  margin-bottom: 0.5rem;
  line-height: 1.3;
redefine-tablet()
}
.markdown-body h6:not(.not-markdown),
.markdown-body .h6:not(.not-markdown) {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: $h6-heading-margin-top;
  margin-bottom: 0.5rem;
  line-height: 1.2;
redefine-tablet()
}
.markdown-body img:not(.not-markdown) {
  box-sizing: border-box;
  border-radius: $usr-img-border-radius;
  max-width: 100%;
  cursor: zoom-in;
  display: block;
  margin: 1rem auto 1rem;
}
.markdown-body del.mask:not(.not-markdown) {
  text-decoration: none !important;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) color, 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) background;
}
.markdown-body del.mask:not(.not-markdown) * {
  transition: 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity;
}
.markdown-body del.mask:not(.not-markdown):not(:hover) {
  color: transparent !important;
  background: #000 !important;
}
.markdown-body del.mask:not(.not-markdown):not(:hover) * {
  opacity: 0 !important;
}
.markdown-body del.mask:not(.not-markdown):not(:hover),
.markdown-body del.mask:not(.not-markdown):not(:hover) * {
  border: none !important;
}
.markdown-body > table:not(.not-markdown),
.markdown-body .tab-pane > table:not(.not-markdown) {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  box-shadow: var(--redefine-box-shadow-flat);
  border-radius: $redefine-border-radius-medium;
}
.markdown-body > table:not(.not-markdown) thead th,
.markdown-body .tab-pane > table:not(.not-markdown) thead th {
  border-bottom: 1px solid var(--shadow-color-1);
  background-color: var(--third-background-color) !important;
}
.markdown-body > table:not(.not-markdown) thead th:first-child,
.markdown-body .tab-pane > table:not(.not-markdown) thead th:first-child {
  border-top-left-radius: $redefine-border-radius-medium;
}
.markdown-body > table:not(.not-markdown) thead th:last-child,
.markdown-body .tab-pane > table:not(.not-markdown) thead th:last-child {
  border-top-right-radius: $redefine-border-radius-medium;
}
.markdown-body > table:not(.not-markdown) tbody tr:last-child td:first-child,
.markdown-body .tab-pane > table:not(.not-markdown) tbody tr:last-child td:first-child {
  border-bottom-left-radius: $redefine-border-radius-medium;
}
.markdown-body > table:not(.not-markdown) tbody tr:last-child td:last-child,
.markdown-body .tab-pane > table:not(.not-markdown) tbody tr:last-child td:last-child {
  border-bottom-right-radius: $redefine-border-radius-medium;
}
.markdown-body > table:not(.not-markdown) td,
.markdown-body .tab-pane > table:not(.not-markdown) td,
.markdown-body > table:not(.not-markdown) th,
.markdown-body .tab-pane > table:not(.not-markdown) th {
  padding: 8px 16px;
  border-left: 1px solid var(--shadow-color-1);
}
.markdown-body > table:not(.not-markdown) td:first-child,
.markdown-body .tab-pane > table:not(.not-markdown) td:first-child,
.markdown-body > table:not(.not-markdown) th:first-child,
.markdown-body .tab-pane > table:not(.not-markdown) th:first-child {
  border-left: none;
}
.markdown-body > table:not(.not-markdown) tr,
.markdown-body .tab-pane > table:not(.not-markdown) tr {
  background-color: var(--background-color);
}
.markdown-body > table:not(.not-markdown) tr:nth-child(2n),
.markdown-body .tab-pane > table:not(.not-markdown) tr:nth-child(2n) {
  background-color: var(--second-background-color);
}
.markdown-body mjx-container:not(.not-markdown) {
  display: inline;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 0.2rem;
}
.markdown-body mjx-container:not(.not-markdown):hover::-webkit-scrollbar-thumb {
  border: 3px solid rgba(183,183,183,0.3);
}
.markdown-body mjx-container:not(.not-markdown)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: all 0.2s ease;
  display: block;
}
.markdown-body mjx-container:not(.not-markdown)::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
.markdown-body mjx-container:not(.not-markdown)::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgba(183,183,183,0);
  transition: all 0.2s ease;
}
.markdown-body mjx-container:not(.not-markdown) svg {
  display: inline-block /* Allow content to be centered properly */;
}
.markdown-body mjx-container[display="true"]:not(.not-markdown) {
  display: block;
  justify-content: center;
  vertical-align: baseline;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  scrollbar-width: thin;
  padding-bottom: 8px;
}
.markdown-body mjx-container[display="true"]:not(.not-markdown):hover::-webkit-scrollbar-thumb {
  border: 3px solid rgba(183,183,183,0.3);
}
.markdown-body mjx-container[display="true"]:not(.not-markdown)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: all 0.2s ease;
  display: block;
}
.markdown-body mjx-container[display="true"]:not(.not-markdown)::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
.markdown-body mjx-container[display="true"]:not(.not-markdown)::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgba(183,183,183,0);
  transition: all 0.2s ease;
}
.markdown-body mjx-container[display="true"]:not(.not-markdown) svg {
  display: inline-block;
}
